:root{
    --clr-primary-400: hsl(47, 88%, 63%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-secondary-500: hsl(0, 0%, 42%);
    --clr-secondary-950: hsl(0, 0%, 7%);

    --ff-base: "Figtree", sans-serif;

    --fw-regular: 500;
    --fw-bold: 800;

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body{
    background-color: var(--clr-primary-400);
    display: grid;
    place-content: center;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-500);
    /* font-size: 0.875rem; */
}

.blog{
    border: 2px solid;
    background-color: var(--clr-neutral-100);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 2px black;
    max-width: 320px;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .blog{
        max-width: 375px;
    }

}

.blog__content{
   display: grid;
   gap: 0.7rem;
   
}

.image img{
    border-radius: 0.5rem;
    overflow: hidden;
    height: 12rem;
    object-fit: cover;
}

.blog__category{
    color: var(--clr-secondary-950);
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-400);
    display: inline-block;
    padding: 3px 10px;
    width: 6rem;
    text-align: center;
    border-radius: 0.25rem;
}

.blog__publish-date{
    font-weight: var(--fw-bold);
    font-size: 0.875rem;
}

.blog__title{
    font-weight: var(--fw-bold);
    color: var(--clr-secondary-950);
}

.blog__title:hover{
    color: var(--clr-primary-400);
    cursor: pointer;
}

.blog__author{
    font-weight: var(--fw-bold);
    font-size: 0.875rem;
    color: var(--clr-secondary-950);
    display: inline-flex;
    gap: 0.725rem;
    align-items: center;
    margin-top: 1rem;
}

.blog__author img{
    height: 1.75rem;
}